.product {
    text-align: center;
    flex-basis: 30%;
    background-color: antiquewhite;
    width: fit-content;
    padding: 0.5rem 0.5rem 1rem 0.5rem ;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.7rem;
    align-items: center;
    max-height: 14rem;
}

.history {
    text-align: center;
    flex-basis: 20%;
    background-color: antiquewhite;
    width: fit-content;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.7rem;
    align-items: center;
    max-height: 14rem;
    min-width: 150px;
}


.productButton {
    width: 60%;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 0.4rem 0.5rem;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.productButton:hover,
.productButton:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.productButton:active {
    opacity: .5;
}

.buttons {
    margin-top: 0.2rem;
    padding: 0.7rem 0;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: 600;
}

.count {
    width: 0.5rem;
}

.productButtons {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    color: #3B3B3B;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    padding: 2px 3px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 25px;
    will-change: transform;
}

.productButtons:disabled {
    pointer-events: none;
}

.productButtons:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.productButtons:active {
    box-shadow: none;
    transform: translateY(0);
}